body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(33,47,92);
   
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    width: 800px;
    height: 650px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    border-color: black;
}

.mb-3{
    display: block;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    padding-left: 15px;
}

.titulo{
    background-color: #8A9DD7;
    text-align: center;
    justify-content: center;
}

.enviar{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.enviar:hover {
    background-color: #45a049;
  }

.enviar:active {
    background-color: #3e8e41;
  }

form{
    text-align: center;
    align-items: center;
    justify-content: center;
}

label{
   margin-bottom: 50px;

}